.form {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding: 32px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 32px;
    font-size: 29px;
  }
  p {
    margin-bottom: 1.5rem;
    label {
      display: block;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 8px;
      color: #444;
    }
    input,
    select {
      width: 350px;
      height: 25px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 16px;
      background-color: #fff;
      transition: border-color 0.3s;
      color: #242424;

      &:focus {
        border-color: #0056b3;
        outline: none;
      }
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  button {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background-color: #0056b3;
    }

    &:focus {
      outline: none;
    }

    &:active {
      background-color: #004085;
    }
  }

}

@media (max-width: 320px) {
  .form{
    margin: 0;
    padding: 8px;
    width: 100vw;
    box-sizing: border-box;
    border-radius: 0;
    p{
      input, select{
        width: 200px;
      }
    }

  }
}
